.calculator {
  flex: 1 1 auto;
  background-color: #ffffff;
}

.calculator-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 85%;
  max-width: 500px;
  margin: 0 auto;
}
