.calculator {
  flex: 1 1 auto;
  background-color: #ffffff;
}

.calculator-container {
  display: flex;
  flex-direction: column;
  width: 85%;
  gap: 2rem;
  max-width: 500px;
  margin: 2rem auto;
}

.controls {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media (min-width: 1440px) {
  .calculator-container {
    flex-direction: row;
    max-width: none;
    align-items: flex-start;
    width: 90%;
    margin: 2rem auto;
  }

  .controls {
    width: 50%;
    margin: 1rem 0;
  }
}
