.title {
  width: 100%;
  max-width: 150px;
  margin: 1rem auto;
  letter-spacing: 1rem;
  text-align: center;
  word-wrap: break-word;
  color: hsl(183, 100%, 15%);
  flex: 0 1 auto;
  font-size: 0.75rem;
}

@media (min-width: 768px) {
}
