.input-field {
  height: 3rem;
  padding: 0 1rem;
  border: none;
  border-radius: 5px;
  margin-bottom: 0.5rem;
  width: 100%;
  background: no-repeat left center;
  background-origin: content-box;
  background-color: hsl(189, 41%, 97%);
  text-align: right;
  font-size: 24px;
  font-weight: 700;
  color: hsl(183, 100%, 15%);
}

.input-label {
  display: inline-block;
  width: 50%;
  color: hsl(186, 14%, 43%);
  font-size: 1rem;
  font-weight: 700;
  padding: 0.5rem 0;
  margin: 1rem 0 0 0;
}

.input-label--invalid {
  text-align: right;
  color: orangered;
}

.invalid {
  outline: 2px solid orangered;
}

.percentages {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 1rem;
  grid-column-gap: 1rem;
}

.percentages input[type="radio"] {
  display: none;
}

.percentages span {
  display: inline-block;
  width: 100%;
  padding: 0.5rem 0;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  border-radius: 5px;
  color: hsl(0, 0%, 100%);
  background-color: hsl(183, 100%, 15%);
}

.percentages span:hover {
  background-color: hsl(185, 41%, 84%);
  color: hsl(183, 100%, 15%);
}

.percentages input[type="radio"]:checked + span {
  background-color: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
}
