.input-field {
  height: 3rem;
  padding: 0 1rem;
  border: none;
  border-radius: 5px;
  width: 100%;
  background: no-repeat left center;
  background-origin: content-box;
  background-color: hsl(189, 41%, 97%);
  text-align: right;
  font-size: 24px;
  font-weight: 700;
  color: hsl(183, 100%, 15%);
}

.input-field:focus {
  outline: 3px solid hsl(172, 67%, 45%);
}

.input-field--invalid {
  outline: 3px solid orangered;
}

.input-field--invalid:focus {
  outline: 3px solid orangered;
}

.input-label {
  display: inline-block;
  width: 50%;
  color: hsl(186, 14%, 43%);
  font-size: 1rem;
  font-weight: 700;
  padding: 0.5rem 0;
}

.input-label--invalid {
  text-align: right;
  color: orangered;
}

.percentages {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 1rem;
  grid-column-gap: 1rem;
}

.percent {
  display: inline-block;
  border: none;
  width: 100%;
  padding: 0.75rem 0;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  border-radius: 5px;
  color: hsl(0, 0%, 100%);
  background-color: hsl(183, 100%, 15%);
}

.percent:hover {
  background-color: hsl(185, 41%, 84%);
  color: hsl(183, 100%, 15%);
}

.percent::placeholder {
  text-align: center;
}

.percent--custom {
  background-color: hsl(189, 41%, 97%);
  color: hsl(186, 14%, 43%);
  padding: 0 1rem;
}

.percent--custom:focus {
  background-color: white;
  color: hsl(183, 100%, 15%);
  outline: 3px solid hsl(172, 67%, 45%);
}

.active {
  background-color: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
}

@media (min-width: 1440px) {
  .percentages {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 1rem;
    grid-column-gap: 1rem;
  }
}
