@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
* {
  box-sizing: border-box;
}

html {
  font-family: "Space Mono", monospace;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: hsl(185, 41%, 84%);
}

#root,
.App {
  display: flex;
  justify-content: center;
  height: 100%;
}
